# Dependencies
three.js/

# System Files
**/.DS_Store

# Solution files

# Student submissions
devoirs/remises/Devoir_1_-_Simulation_Manuelle_dun_203J28BB_00426/
devoirs/examen-mi/
devoirs/remises/
devoirs/remises/Devoir_2_203J28BB_00426/Aoun_1475230_Devoir_2_Remis_le_2025-06-10_10h08m34s/devoir_02_template.html
devoirs/quiz_app.html
